Flask==1.0.2
flask-cors==3.0.7
scapy==2.4.2
Flask-SQLAlchemy==2.4.0
Flask-RESTful==0.3.7
# Installed using apk in container
psycopg2==2.8.2
Flask-Migrate==2.4.0
httpie==1.0.3
ipython
ipdb
flask-shell-ipython
sendgrid
timeout-decorator==0.4.1
